.formBackground {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    margin: 2rem;
    height: auto;
    max-width: 95%;
    background-color: rgba(236, 191, 149, 0.2);
    padding: 5%;
}
